#####
# FitNesse instance files.
#####
FitNesseRoot/files/
FitNesseRoot/ErrorLogs/
FitNesseRoot/RecentChanges/
FitNesseRoot/properties
FitNesseRoot/updateDoNotCopyOverList
FitNesseRoot/updateList
FitNesseRoot/FitNesse
