#####
# Build files and folders
#####
target/
classes/
out/
bin/
dist/
.checkstyle
.pmd

#####
# Eclipse files and folders
#####
.metadata/
.settings/
.classpath
.project

#####
# IntelliJ IDEA files and folders
#####
.idea/
*.iwl
*.ips
*.iml

#####
# FitNesse and fitting local and default files.
#####
conf/
files/
*.log
